@font-face {
    font-family: "inter";
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "jaro";
    src: url(fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

body {
    margin: 0 auto;
    background-color: #002333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#logo {
    background-color: white;
    width: 49px;
    height: 64px;
    border-radius: 50%;
    box-shadow: inset 0 -8px 16px -8px rgba(0, 0, 0, 0.8);
}

#logo-text {
    color: white;
    font-family: "jaro";
    font-size: 14px;
    margin: 0;
}

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: "inter";
}

#choices-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0 40px 0;
}

.choose-title {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 24px;
    height: 35px;
    color: white;
    margin-top: 11px;
}

.options-container {
    display: flex;
    gap: 18.5px;
    width: 95vw;
}

.option-size,
.option-kons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #159A9C;
    width: 88px;
    height: 35px;
    border-radius: 10px;
    margin-top: 11px;
}

.option-size:hover,
.option-kons:hover {
    background-color: #002d42;
}

.active {
    background-color: #DEEFE7;
}

.active:hover {
    background-color: #DEEFE7;
}

#timer-home {
    font-size: 64px;
    color: white;
    position: relative;
    top: 20px;
}

#start-button {
    position: relative;
    top: 70px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

#start-button:hover {
    background-color: #23ecf0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    background-color: #159A9C;
    color: #002333;
    font-size: 24px;
}

#tips-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 13px;
    padding: 15px;
    color: #159A9C;
    width: 50px;
    height: 30px;
    border-radius: 10px;
}

#tips-button:hover {
    text-decoration: underline;
}

#tips-icon {
    background-image: url('icons/lightbulbicon.png');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 20px;
    font-size: 14px;
}