@font-face {
    font-family: "inter";
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "jaro";
    src: url(fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

body {
    margin: 0 auto;
    background-color: #002333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#logo {
    background-color: white;
    width: 49px;
    height: 64px;
    border-radius: 50%;
    box-shadow: inset 0 -8px 16px -8px rgba(0, 0, 0, 0.8);
}

#logo-text {
    color: white;
    font-family: "jaro";
    font-size: 14px;
    margin: 0;
}

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 10px;
    font-family: "inter";
}

#choices-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin: 50px 0 0 0;
}

.choose-title {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 24px;
    height: 35px;
    color: white;
}

.options-container {
    display: flex;
    gap: 18.5px;
    width: 95vw;
}

.option-size,
.option-kons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #159A9C;
    width: 88px;
    height: 35px;
    border-radius: 10px;
    margin-top: 11px;
}

.option-size:hover,
.option-kons:hover {
    background-color: #002d42;
}

.active {
    background-color: #DEEFE7;
}

.active:hover {
    background-color: #DEEFE7;
}

#timer-home {
    font-size: 64px;
    color: white;
    position: absolute;
    bottom: 210px;
}

#start-button {
    position: absolute;
    bottom: 125px;
}

.button {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.button:hover {
    background-color: #23ecf0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    background-color: #159A9C;
    color: #002333;
    font-size: 24px;
}

#tips-button,
#home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: #159A9C;
    width: 75px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
}

#tips-button:hover,
#home-button:hover {
    text-decoration: underline;
}

#tips-icon {
    background-image: url('icons/lightbulbicon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 20px;
    display: block;
}

#tips-text,
#home-text {
    font-size: 14px;
}

/*timerpage*/

#timer-page {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

#timer-timer {
    font-family: "inter";
    font-size: 64px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#choices {
    gap: 30px;
    position: relative;
    bottom: 160px;
    font-family: "inter";
    font-size: 14px;
    color: white;
}

#stop-button {
    margin-bottom: 50px;
    font-family: "inter";
    font-size: 24px;
}

#tips-page {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 10px;
    font-family: "inter";
}

#tips-title {
    height: 35px;
    font-family: "inter";
    font-size: 24px;
    color: white;
}

#tips-content {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding: 0 10px;
    margin: 50px 0 0 0;
}

#tips-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    font-size: 14px;
    color: #159A9C;
}

.tips-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 5px;
    margin: 0;
}

.tips-item:hover {
    background-color: #002d42;
    border-radius: 10px;
}

.tips-active {
    color: white;
}

#tips-desc {
    display: none;
    justify-content: flex-start;
    padding-top: 59px;
    font-size: 14px;
    font-family: "inter";
    color: white;
}

#obs {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

#home-button {
    margin-left: auto;
    margin-right: auto;
}

#home-icon {
    background-image: url('icons/homeicon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}